:root {
  --my-orange: #f57224;
  --my-text-color1: #000;
  --my-text-color2: #9e9e9e;
  --my-background-color: #eff0f5;
  --my-blue1: #0f136d;
  --my-blue2: #1a9cb7;
  --my-red: #d3232a;
  --my-border-color: #d5d5d5;
  --my-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 14px;
}