.header__section {
  background: white;
}

.header__section-menu {
  background: var(--my-background-color);
  display: flex;
  justify-content: center;
}

.header__section-menu .menu-container {
  width: 100%;
  max-width: 1200px;
}

ul.menu__list {
  display: flex;
  justify-content: flex-end;
}

li.menu__list-item {
  padding: 3px 18px;
  cursor: pointer;
}

li.menu__list-item:last-child {
  padding-right: 2px;
}


li.menu__list-item a, li.menu__list-item span {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--my-text-color2);
  font-size: 12px;
}

li.menu__list-item.high-light a, li.menu__list-item.high-light span {
  color: var(--my-blue1)
}

li.menu__list-item:hover a, li.menu__list-item:hover span {
  color: var(--my-orange);
  font-weight: 600;
  opacity: .8;
}

li.menu__list-item.has-popup {
  position: relative;
}

li.menu__list-item.has-popup .download__popup {
  display: none;
  position: absolute;
  width: 380px;
  height: 380px;
  box-shadow: var(--my-box-shadow);
  border-radius: 8px;
  top: 27px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 10;
  background: white;
}

li.menu__list-item.has-popup .download__popup::before {
  content: '';
  position: absolute;
  border: 10px solid rgb(255, 255, 255);
  border-top-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
  top: -20px;
  left: 50%;
  transform: translateX(-50%)
}

li.menu__list-item.has-popup:hover .download__popup {
  display: block;
}

/* header content */

.header__section-content {
  display: flex;
  justify-content: center;
}

.header__section-content-container {
  width: 100%;
  max-width: 1200px;
  height: 92px;
}

.content__align-container {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.header__logo {
  width: 127px;
}

.header__logo a {
  width: 100%;
}

.header__logo a img {
  width: 100%;
}

.header__search__form {
  margin-left: 70px;
  flex-grow: 1;
  position: relative;
}

.header__search__form-form input {
  padding: 13px 19px;
  background: var(--my-background-color);
  border: none;
  outline: none;
  border-radius: 3px;
  width: 100%;
}

.header__search__form-form button {
  height: 42px;
  width: 45px;
  border: none;
  outline: none;
  position: absolute;
  right: 0px;
  background: var(--my-orange);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__search__form-form button i {
  font-size: 16px;
  color: white;
}

.header__cart {
  margin-left: 30px;
}

.header__cart i {
  font-size: 30px;
  color: var(--my-blue1)
}

.header__ads {
  margin-left: 50px;
  /* margin-left: auto; */
}

.header__ads img {
  width: 188px;
}